
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.dragDropZone {
  height: 360px;
  border: 4px dashed rgb(117,112,112);
  padding: 20px;
}